.root {
  height: 80px;
}

.header {
  color: #fff;
  margin-bottom: 48px;
}

.small {
  height: 60px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.img {
  height: 70px;
  width: 125px;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: font-size 0.2s linear;
}

.nav li {
  position: relative;
}

.nav li a {
  transition: color 0.2s linear;
}

.nav li:hover a {
  color: red;
}

.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}

.header.small .logo {
  width: 89px;
  height: 50px;
}

.header.small .nav  {
  font-size: 16px;
}